## 課題2-4 回答例

In [1]:
import numpy as np
from scipy import stats
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('SampleData.csv')  #csvデータをDataFrameへ読み込み
df

,Year,T_Tokyo,Pr_Tokyo,MaxHourPr_Tokyo,T_Maebashi,Pr_Maebashi,MaxHourPr_Maebashi
0,1951,14.7,1589.8,64.4,13.5,1139.1,35.1
1,1952,14.6,1640.6,30.9,13.4,1164.1,19.1
2,1953,14.6,1519.4,33.8,13.3,1274.6,20.3
3,1954,14.8,1770.7,34.8,13.6,1275.3,47.3
4,1955,15.5,1553.9,34.7,14.2,1776.6,94.0
...,...,...,...,...,...,...,...
65,2016,16.4,1779.0,47.5,15.6,1249.0,38.5
66,2017,15.8,1430.0,22.5,14.9,1192.5,38.5
67,2018,16.8,1445.5,38.5,16.1,1046.5,47.5
68,2019,16.5,1874.0,36.5,15.7,1447.5,49.0
69,2020,16.5,1590.0,34.5,15.8,1315.5,48.0

In [3]:
x= df['MaxHourPr_Tokyo'].values  #DataFrameの指定列を1次元numpy配列xに変換
y= df['MaxHourPr_Maebashi'].values

N1=len(x)
N2=len(y)

In [4]:
alpha= 0.05 #信頼水準1-alpha = 0.95
tau_l= stats.t.ppf(q=alpha/2, df=N1+N2-2) #自由度N1+N2-2のｔ分布の下側alpha/2分位点
tau_u = -tau_l

In [5]:
#統計量S2xyの実現値
s2xy=0 
for i in range(N1):
    s2xy += (x[i]-np.mean(x))**2
for i in range(N2):
    s2xy += (y[i]-np.mean(y))**2
s2xy /= N1+N2-2

In [6]:
#母平均の差の区間推定
lb= np.mean(x)-np.mean(y)-tau_u*((1/N1+1/N2)*s2xy)**0.5
ub= np.mean(x)-np.mean(y)-tau_l*((1/N1+1/N2)*s2xy)**0.5
print("CI of tokyo-maebashi is [{:.3f},{:.3f}]".format(lb,ub))

CI of tokyo-maebashi is [-9.029,2.835]